<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Knowledge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <h1>SciOly Fast Facts practice</h1>

    <table>
    <thead>
    <tr>
        <td colspan="2"></td>
        <th scope="col" id="topic_1">a</td>
        <th scope="col" id="topic_2">a</td>
        <th scope="col" id="topic_3">a</td>
        <th scope="col" id="topic_4">a</td>
        <th scope="col" id="topic_5">a</td>
    </tr>
    </thead>
    <br>
    <tbody>
        <th colspan="2" scope="row" id="letter_1">a</th>
        <td><input type="text" class="row_1 column_1"> </td>
        <td><input type="text" class="row_1 column_2"> </td>
        <td><input type="text" class="row_1 column_3"> </td>
        <td><input type="text" class="row_1 column_4"> </td>
        <td><input type="text" class="row_1 column_5"> </td>
    </tbody>

    <tbody>
        <th colspan="2" scope="row" id="letter_2">a</th>
        <td><input type="text" class="row_2 column_1"> </td>
        <td><input type="text" class="row_2 column_2"> </td>
        <td><input type="text" class="row_2 column_3"> </td>
        <td><input type="text" class="row_2 column_4"> </td>
        <td><input type="text" class="row_2 column_5"> </td>
    </tbody>

    <tbody>
        <th colspan="2" scope="row" id="letter_3">a</th>
        <td><input type="text" class="row_3 column_1"> </td>
        <td><input type="text" class="row_3 column_2"> </td>
        <td><input type="text" class="row_3 column_3"> </td>
        <td><input type="text" class="row_3 column_4"> </td>
        <td><input type="text" class="row_3 column_5"> </td>
    </tbody>

    <tbody>
        <th colspan="2" scope="row" id="letter_4">a</th>
        <td><input type="text" class="row_4 column_1"> </td>
        <td><input type="text" class="row_4 column_2"> </td>
        <td><input type="text" class="row_4 column_3"> </td>
        <td><input type="text" class="row_4 column_4"> </td>
        <td><input type="text" class="row_4 column_5"> </td>
    </tbody>

    <tbody>
        <th colspan="2" scope="row" id="letter_5">a</th>
        <td><input type="text" class="row_5 column_1"> </td>
        <td><input type="text" class="row_5 column_2"> </td>
        <td><input type="text" class="row_5 column_3"> </td>
        <td><input type="text" class="row_5 column_4"> </td>
        <td><input type="text" class="row_5 column_5"> </td>
    </tbody>
    
    </table>

    
    <div>
        <button id="reset" onclick="reset()">
            Reset
        </button>
    </div>


</body>
</html>